<!DOCTYPE html>
<html lang="en">
<head>
  <title>Reddit: Add a Link</title>
  <link rel="stylesheet" href="/index.css">
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
</head>
<body>
   <header>
    <div class='container1'>
      <a class='logo' href='/'><img class='logo' src='images/Reddit-logo.png'></a>
      <a class='logo' href='/'><h1>Reddit</h1></a>
    </div>
  </header>
  
</body>
</html>