<!DOCTYPE html>
<html lang="en">
<head>
  <title>Reddit: Add a Link</title>
  <link rel="stylesheet" href="/addLink.css">
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
</head>
<body>
   <header>
    <div class='container1'>
      <a class='logo' href='/'><img class='logo' src='images/Reddit-Logo.png'></a>
      <a class='logo' href='/'><h1>Reddit</h1></a>
    </div>
  </header>
  <main>
    <h2>Add a Link</h2>
    <form method='post' action='/addlink'>
      <label for='linkName'>Link Title</label>
      <input name='linkName' type='text' value='' placeholder='Enter a Title'>
      <label for="url">Link URL</label>
      <input type="text" name="url" value='' placeholder='url'>
      <input type='hidden' name='votes' value='0'>
      <button>Submit</button>
    </form>
  </main>
  
</body>
</html>