<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {{!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge"> --}}
  <title>Reddit Clone</title>
  <link rel="stylesheet" href="/index.css">
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
</head>
<body>
  <header>
    <div class='container1'>
      <a class='logo' href='/'><img class='logo' src='images/Reddit-logo.png'></a>
      <a class='logo' href='/'><h1>Reddit</h1></a>
    </div>
  </header>
  <main>
    <div class='container2'>
      <div class='links'>
        {{#each links}}
        <h2>
          <span class='votes'><img class='arrow' src='images/upvote.png'>
            {{this.votes}}<img src='images/downvote.png' class='arrow'></span><a href='{{this.url}}' target='blank'>{{this.linkName}}</a>
        </h2>
        {{/each}}
      </div>
      <div>
        <button class='linksubmit'><a class='link' href="/addlink">Submit a New Link</a></button>
      </div>
    </div>
  </main>
</body>
</html>